.header {
  background-color: #fff;
  height: 80px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 10px 180px;
}

.header-links {
  display: flex;
  gap: 1rem;
}
.header-links a {
  font-size: 20px;
  text-decoration: none;
  color: #a8a8a8;
  font-family: "eigerdals", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.header-links a:hover {
  color: #ff7323;
  border-bottom: 2px solid #ff7323;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #6c7a86;
}

#menu {
  z-index: 2;
  margin-top: 50px;
  display: none;
}

#menu-bar {
  width: 45px;
  height: 40px;
  margin: 30px 0 20px 20px;
  cursor: pointer;
}

.bar {
  height: 5px;
  width: 100%;
  background-color: #ff7323;
  display: block;
  border-radius: 5px;
  transition: 0.3s ease;
}

#bar1 {
  transform: translateY(-4px);
}

#bar3 {
  transform: translateY(4px);
}

.nav {
  transition: 0.3s ease;
  display: none;
}

.nav ul {
  padding: 0 22px;
}

.nav li {
  list-style: none;
  padding: 12px 0;
}

.nav li a {
  color: white;
  font-size: 20px;
  text-decoration: none;
}

.nav li a:hover {
  font-weight: bold;
}

.menu-bg,
#menu {
  top: 0;
  left: 0;
  position: absolute;
}

.menu-bg {
  z-index: 1;
  width: 0;
  height: 0;
  margin: 110px 0 100px 100px;
  background: radial-gradient(circle, #ff7323, #ff7323);
  border-radius: 50%;
  transition: 0.3s ease;
}

.change {
  display: block;
}

.change .bar {
  background-color: white;
}

.change #bar1 {
  transform: translateY(4px) rotateZ(-45deg);
}

.change #bar2 {
  opacity: 0;
}

.change #bar3 {
  transform: translateY(-6px) rotateZ(45deg);
}

.change-bg {
  width: 520px;
  height: 460px;
  transform: translate(-60%, -30%);
}

@media (max-width: 801px) {
  .header-links {
    display: none;
  }
  #menu {
    display: block;
  }
  .logo {
    margin-bottom: 0; /* Remova a margem inferior no logo */
    width: 228px;
    height: 42px;
    margin-left: 0;
  }

  .div-logo {
    margin: 0 auto;
  }
}

@media (max-width: 400px) {
  .header {
    height: 55px;
    padding: 10px;
    flex-direction: row;
    justify-content: space-between;
  }

  .header-links {
    display: none; /* Esconda o menu regular */
  }
}
