.pre-header {
  max-width: 100%;
  height: 40px;
  background-color: #ff7323;
  text-align: end;
}

.pre-header button {
  width: 180px;
  height: 40px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
}

.botao-1 {
  background-color: #16375c;
  color: #fff;
  font-family: "apotek-comp", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.botao-2 {
  background-color: #fdb913;
  margin-right: 25px;
  color: #fff;
  font-family: "apotek-comp", sans-serif;
  font-weight: 700;
  font-style: normal;
  width: 100vw;
}

.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-child {
  display: none;
  background-color: #16375c;
  min-width: 200px;
  height: auto;
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 1;
  border-radius: 10px;
}
.dropdown-child a {
  color: #fff;
  text-decoration: none;
  display: block;
  font-family: "apotek", sans-serif;
  font-weight: 700;
  font-style: normal;
  padding-bottom: 20px;
  padding-right: 20px;
  font-size: 18px;
  position: relative;
}
.dropdown:hover .dropdown-child {
  display: block;
}

.dropdown-child a:after {
  content: "";
  display: block;
  height: 2px;
  width: 0px;
  background: #fff;
  margin-top: 4px;
  transition: 0.3s;
  position: absolute;
}

.dropdown-child a:hover::after {
  width: 100%;
}

@media (max-width: 400px) {
  .pre-header {
    height: 32px;
  }
  .pre-header button {
    width: 135px;
    height: 32px;
    font-size: 18px;
  }
}
