.edital {
  background-color: #325e75;
  padding: 30px;
}

.edital h1 {
  font-family: "apotek", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 64px;
  margin-bottom: 40px;
}

.edital img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.p2-prefeitura span {
  font-family: "eigerdals", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 32px;
}

.p2-prefeitura a {
  font-family: "eigerdals", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 32px;
  text-decoration: underline;
  color: #c82525;
}

@media (max-width: 600px) {
  .edital h1 {
    font-size: 30px;
  }

  .p2-prefeitura span,
  .p2-prefeitura a {
    font-size: 24px;
  }

  .p2-prefeitura {
    padding: 10px;
  }
}
