.container-cursos {
  box-sizing: border-box;
  max-width: 1200px;
  margin-left: 80px;
  margin-right: auto;
}

.cursos-lista {
  background-image: url("../../img/fundo-cursos.png");
  background-size: cover;
  background-position: center;
  margin-top: 0px;
  margin-bottom: 0px;
}

.cursos-lista h2 {
  margin-bottom: 40px;
  font-family: "apotek-comp", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 36px;
  color: #ededed;
}

.cursos-lista ul {
  margin: 0px;
  padding: 0 20px 20px 20px;
  list-style: none;
  display: flex;
  gap: 10px;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  overflow-x: auto;
  justify-content: space-between;
}

.cursos-lista a {
  display: block;
  color: transparent;
}

.cursos-lista img {
  margin-bottom: 0px;
}

.cursos-lista h2 {
  margin-bottom: 8px;
  display: flex;
  align-items: center;
}

.cursos-lista h2::before {
  content: "";
  display: inline-block;
  height: 8px;
  width: 12px;
  margin-right: 8px;
  background-color: #ff7323;
  transition: width 0.2s;
}

.cursos-lista a:hover h2::before {
  width: 24px;
}

.cursos-lista li span {
  padding-left: 20px;
  font-family: "eigerdals", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 20px;
  color: white;
}

.condicoes {
  margin-top: 20px;
  color: #ffffff;
  margin-left: 90px;
  margin-bottom: 0px;
}

@media (max-width: 800px) {
  .container-cursos {
    margin-left: 0px;
  }
  .cursos-lista {
    padding-bottom: 60px;
  }
  .cursos-lista ul {
    gap: 20px;
  }
  .margem-titulo {
    margin-left: 25px;
  }
}
